#all-recipes-page-container {
  display: flex;
  min-height: 100vh;
  margin: 0 20px;
  padding: 0 15px;
}

.all-recipes-grid {
  column-count: 5;
  column-gap: 20px;
  padding: 20px;
}

.all-recipes-link {
  text-decoration: none;
}

.recipe-highlight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.recipe-description {
  display: -webkit-box; /* Enables text clamping */
  -webkit-line-clamp: 3; /* Limit to 3 lines of text */
  -webkit-box-orient: vertical; /* Required for clamping */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds "..." if text exceeds limit */
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
  line-height: 1.4; /* Controls line spacing */
  word-wrap: break-word; /* Wraps long words */
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1300px) {
  .recipes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1024px) {
  .all-recipes-grid {
    column-count: 4;
  }
}

/* Mobile size */
@media (max-width: 768px) {
  .recipes-grid {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .all-recipes-grid {
    column-count: 1;
  }

  .recipe-tile {
    padding: 10px;
  }
}
