#all-recipes-page-container {
  display: flex;
  min-height: 100vh;
  margin: 0 20px;
  padding: 0 15px;
}

.recipes-grid {
  column-count: 5;
  column-gap: 20px;
  padding: 20px;
}

.recipe-tile {
  break-inside: avoid; /* Prevent tiles from breaking between columns */
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.recipe-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-tile:hover {
  transform: scale(1.05); /* Hover zoom effect */
}

.recipe-link {
  text-decoration: none;
}

.recipe-highlight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.recipe-description {
  /* display: -webkit-box; This enables the text clamping */
  /* -webkit-line-clamp: 3; Limit to 3 lines of text */
  /* -webkit-box-orient: vertical; */
  /* overflow: hidden; Hides overflow text */
  /* text-overflow: ellipsis; Add "..." if text exceeds limit */
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
  line-height: 1.4;
  /* height: 4.2em; Ensure the height is constrained (line-height * line-clamp) */
  word-wrap: break-word; /* Wrap long words */
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1300px) {
  .recipes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet size (portrait or medium screens) */
@media (max-width: 1024px) {
  .recipes-grid {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
  }
}

/* Mobile size */
@media (max-width: 768px) {
  .recipes-grid {
    column-count: 2;
    column-gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .recipes-grid {
    column-count: 1;
    column-gap: 20px;
    padding: 20px;
  }

  .recipe-tile {
    padding: 10px;
  }
}
