#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 15px; /* Adjust border-radius to make it more contained */
  max-width: 400px; /* Define a maximum width for the modal */
  width: 100%;
  padding: 25px;
  box-sizing: border-box; /* Ensures padding is included in the width */
  overflow: hidden; /* Prevents anything from spilling outside */
}
