#landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

#landing-page-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .page-container h2 {
    font-size: 1.8rem;
  }

  #landing-image-container {
    max-width: 90%;
    aspect-ratio: 16 / 9;
  }
  #landing-page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .page-container h2 {
    font-size: 1.5rem;
  }

  #landing-image-container {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 480px) {
  .page-container {
    padding: 10px;
  }
  #landing-page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .page-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
