.recipe-tile {
  position: relative;
}

.recipe-image-container {
  position: relative;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.recipe-image-container:hover {
  transform: scale(1.05);
}

.hover-buttons {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.recipe-image-container:hover .hover-buttons {
  display: block;
}

.save-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.open-button,
.edit-button,
.share-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 5px;
}

.open-button:hover,
.edit-button:hover,
.share-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
