/* Global Font Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: #d8c8a9;
  background-image: url("../public/lined-paper.png");
  background-repeat: repeat;
  background-size: auto;
  line-height: 1.6;
  color: #2a3439;
}

.page-container {
  max-width: 1300px;
  margin: 15px;
}

.logo-spinner {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Form Styling */
.form-page-container {
  max-width: 1000px;
  margin: 25px auto;
  border-radius: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  z-index: 800;
  box-sizing: border-box;
  padding: 25px;
  gap: 10px;
}

label {
  width: 100%;
  color: #555;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

input:hover,
input:focus {
  border-color: #465775;
  box-shadow: 0px 0px 5px rgba(70, 87, 117, 0.5);
}

/* Buttons */
form button {
  width: 100%;
  background-color: #f4a6a6;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

form button:hover {
  background-color: #d46a6a;
  border-color: #465775;
  box-shadow: 0px 0px 5px rgba(70, 87, 117, 0.5);
}

form button:focus {
  outline: 2px solid #d46a6a;
  border-color: #465775;
  box-shadow: 0px 0px 5px rgba(70, 87, 117, 0.5);
}

@media (max-width: 768px) {
  form {
    margin-top: calc(
      var(--navbar-height, 80px) + 20px
    ); /* Use dynamic spacing if navbar height varies */
    margin: 0 15px;
  }
}
